extends layout

block content
  .container
    h1 A Year of Travel
    if (!user)
      a(href="/login") login
      br
      a(href='/register') Sign up
    if (user)
      include addDestinations.jade
      p The email address is #{user.username}
      p My first name is #{user.firstName}
      p My last name is #{user.lastName}
      p I fly from #{user.homeAirport}
      p I wanna go to #{user.destinations.aiport}
      a(href='/logout') Log out
      div
        - console.log(user)
      div
      
